body {
    background: rgb(40, 102, 4);
    color: rgb(57, 82, 41);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
   margin: auto;
}

/* navigation menu */
nav {
    background: rgb(83, 134, 1);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.89);
    flex: 1;
    margin: 0;
}
#nav-ul {
     list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #000000;
}

/* main container area beneath menu */
main {
    background: rgba(66, 109, 63, 0.89);
    display: flex;
}
.sidebar { 
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles 8 */
#interests {
    border: 4px rgb(73, 129, 0) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
/* portfolio styles */
.content h1 {
    color: black;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    backgound: #eee;
}

#portfolio a {
    text-decoration: none;
    color: #454545;
}